html,body{
   min-height: 140%;
   overflow: auto;
}
body{
   background-color: #ffffff;
}
.map {
    border: medium solid #C3C9C6;
    margin: 45px 0 0 450px;
    background-color: #C3D8D6;  
}
.chartFrame {
   fill: none;
   border: black 2px solid;
   stroke-width: 5px;
   shape-rendering: crispEdges;
   float: right;
}
.chartBackground {
   fill: rgb(182, 167, 145);
   border:#000;
   width: 250px;
}
.leftsidebar{
   position: absolute;
   background-attachment: fixed;
   border: #000;
   height: 140%;
   width: 400px;
   float: left;
}
.leftsidebar h3{
   color: black;
   font-size: 25px;
   text-align: center;
   font-family:'EB Garamond', serif;
   padding-top: 40px;
}
.leftsidebar label{
   color: black;
   font-size: 20px;
   padding-left: 20px;
}
.leftsidebar button{
   color: black;
   font-size: 15px;
   text-align: center;
   background-color: #b8c4bd;
   border-radius: 5px;
}
.counties {
    fill: #fff;
    stroke: #CCC;
    stroke-width: 1px;
    opacity: 10;
}
.midwestBackground {
    fill: #fff;
    stroke: #CCC;
}
.usa{
   fill: #fff;
   stroke: #CCC;
}
/*.otherStates {
   fill: rgb(182, 167, 145);
   opacity: 10;
   stroke: gray;
   stroke-width: 0.5px;
}*/
.logo{
   color: white;
   font-size: 40px;
   line-height: 80px;
   padding: 0 100px;
   padding-left: 20px;
   font-family:'EB Garamond', serif;
   border-radius: 3px;
   text-decoration: none;
}
footer{
   background-color: #536D5E;
   position: fixed;
   bottom: 0;
   height: 45px;
   width: 100vw;
}
.footer-content{
   font-size: 15px;
   text-align: center;
   padding-top: 10px;
	font-family: 'EB Garamond', serif;
   color: white;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
 }
 nav{
    background: #536D5E;
    height: 80px;
    width: 100%;
 }
 .title {
   font-family:'EB Garamond', serif;
   font-size: 1.5em;
   font-weight: bold;
   padding-top: 20px;
   padding-bottom: 20px;
}
 nav ul{
    float: right;
    margin-right: 20px;
 }
 nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 }
 nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
 }
 a:hover{
    background-color: white;
    border-radius: 3px;
    color: black;
 }
 .otherStates{
    background-color:aqua;
 }
.description{
   font-family: 'EB Garamond', serif;
   font-size: 20px;
   width: 750px;
   padding-left: 350px
} 
.container{
	display: block;
	align-items: center;
}
.map{ 
  position: relative;
  display: inline-block;
}  
.bullets{
	width: 50%;
	font-family: 'EB Garamond', serif;
	color: #486052;
	font-size: 20px;
}
h2{
	font-family: 'EB Garamond', serif;
   color:#000000;  
}
h6{
  font-family: 'EB Garamond', serif;
  font-size: 20px;
   color:#000; 
}
.link{
   text-decoration: underline;
   color: white
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.popup{
    background-color: #fff;
    width: 850px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border: medium solid #C3C9C6;
    border-width: 3px;
    border-radius: 15px;
    display: none;
    text-align: center;
    font-size: 20px;
}
.popup button{
   display: block;
   margin:  0 0 20px auto;
   background-color: transparent;
   font-size: 25px;
   color: #fff;
   background: #486052;
   border-radius: 100%;
   width: 30px;
   height: 30px;
   border: none;
   outline: none;
   cursor: pointer;
}
.popup h2{
   margin-top: -20px;
}
.popup p{
    font-family: 'EB Garamond', serif;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    color: #000;
}
.infotitle{
   color: black;
   font-size: 50px;
}

.buttontitle{
   font-size: 20px;
   font-family: 'EB Garamond', serif;
   color: #000;
}
/*
.nav-link{
    color:#914602;
	text-decoration: none;
	list-style: none;
}

.navbar a{
	float: right;
	text-align: center;
	padding-right: 30px;
	padding: 20px 18px;
	text-decoration: none;
	font-size: 17px;
}*/