body{
    background-color: #ebebe0;
}
.map {
    border: medium solid #999;
}
.counties {
    fill: #fff;
    stroke: #CCC;
    stroke-width: 2px;
}
.midwestBackground {
    fill: #fff;
    stroke: #CCC;

}
.title{
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 5px;
}

.nav-link{
    color:#914602;
	text-decoration: none;
	list-style: none;
}

.navbar a{
	float: right;
	text-align: center;
	padding-right: 30px;
	padding: 20px 18px;
	text-decoration: none;
	font-size: 17px;
}